* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #002a45;
    color: #ff7367;
}

a {
    text-decoration: none;
    color: #ff7367;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

a::after {
    text-decoration: none;
    color: #ff7367;
}

#navbar {
    padding: 2rem 2rem 2rem 1rem;
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    height: 3vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#welcome-section {
    padding-top: 10rem;
    height: 90vh;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 3fr;
}

#name {
    display: grid;
    align-content: center;
    margin-top: 8rem;
    width: 24rem;
    height: 4rem;
}

#projects {
    display: grid;
    justify-content: center;
    height: 90vh;
    padding-top: 5rem;
    grid-template-rows: 1fr 2fr 1fr;
}

#project-header {
    display: grid;
    justify-content: center;
}

.project-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
}

.project-container {
    border: 0.1rem solid;
    padding: 1rem;
    width: 30rem;
    height: 18rem;
    margin-top: 8rem;
}

.project-container:hover {
    cursor: pointer;
    transform: scale(1.02);
    border: 0.2rem solid;
}

#more-projects {
    display: grid;
    height: 4rem;
    grid-template-columns: 1fr;
    justify-self: center;
    margin-top: 4rem;
    align-content: center;
    justify-items: center;
}

#github-link {
    border: 0.1rem solid #ff7367;
    padding: 1rem 2rem;
}

#github-link:hover{
    cursor: pointer;
    border: 0.2rem solid;
    transform: scale(1.05);
}

#contact {
    display: grid;
    justify-content: center;
    height: 90vh;
    padding-top: 5rem;
    grid-template-rows: 0.2fr 0.2fr 2fr;
    grid-row-gap: 1rem;
}

#contact-header {
    display: grid;
    justify-content: center;
    margin-top: 15rem;
}

#contact-tagline {
    display: grid;
    justify-content: center;
}

#profile-link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.link {
    display: grid;
    height: 3rem;
    justify-content: center;
    align-content: center;
    justify-self: baseline;
}

.profile-link {
    border: 0.1rem solid #ff7367;
    padding: 1rem 2rem;
}

.profile-link:hover {
    cursor: pointer;
    border: 0.2rem solid #ff7367;
    transform: scale(1.05);
}